.layui-nav-item a {
    padding-left: 20px;
}
.layui-nav-item a i{
    font-size: 1.2rem;
}
.layui-nav-item a span{
    margin-left: 10px;
}
.layui-layout-admin .layui-body {
    top: 60px !important;
    bottom: 44px;
}